In [1]:
import pandas as pd

# Series

series is a column in a table

In [2]:
#creating a series

In [3]:
days=["Monday","Tuesday","Wednwsday","Thursday","Friday","Saturday","Sunday"]

my_series=pd.Series(days)
print(my_series)
type(my_series)

0       Monday
1      Tuesday
2    Wednwsday
3     Thursday
4       Friday
5     Saturday
6       Sunday
dtype: object

pandas.core.series.Series

In [4]:
#creasting a series using dictionary

In [5]:
dict={"1":"Monday","2":"Tuesday","3":"Wednesday","4":"Thursday","5":"Friday","6":"Saturday","7":"Sunday"}
ser= pd.Series(dict)
ser

1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
7       Sunday
dtype: object

# Dataframe

table like structuresimilar to excel spreadsheet containing rows and columns

# creating dataframe using dictionary

In [6]:
max_temp= [18,19,20,20,21,22,23]
min_temp= [10,13,12,8,7,11,12]
event= ["Rain","Thunderstorm","Rain","Sunny","Fog","Fog","Rain"]
windspeed= [10,13,8,14,18,11,14]
weather= {'Day':days,'Max Temperature':max_temp,'Min Temperature':min_temp,'windspeed':windspeed,'Event':event}
df=pd.DataFrame(weather,index=range(1,8))

In [7]:
df

         Day  Max Temperature  Min Temperature  windspeed         Event
1     Monday               18               10         10          Rain
2    Tuesday               19               13         13  Thunderstorm
3  Wednwsday               20               12          8          Rain
4   Thursday               20                8         14         Sunny
5     Friday               21                7         18           Fog
6   Saturday               22               11         11           Fog
7     Sunday               23               12         14          Rain

# Exporting a dataframe to a csv file

In [8]:
df.to_csv('weather_data.csv')

# Importing dataframe to csv file

In [9]:
new_df=pd.read_csv('weather_data.csv')

In [10]:
new_df

,Unnamed: 0,Day,Max Temperature,Min Temperature,windspeed,Event
0,1,Monday,18,10,10,Rain
1,2,Tuesday,19,13,13,Thunderstorm
2,3,Wednwsday,20,12,8,Rain
3,4,Thursday,20,8,14,Sunny
4,5,Friday,21,7,18,Fog
5,6,Saturday,22,11,11,Fog
6,7,Sunday,23,12,14,Rain

In [11]:
new_df.shape #it returns a tuple which we can satore in variables

(7, 6)

In [12]:
new_df.head()  #shows starting 5 rows

,Unnamed: 0,Day,Max Temperature,Min Temperature,windspeed,Event
0,1,Monday,18,10,10,Rain
1,2,Tuesday,19,13,13,Thunderstorm
2,3,Wednwsday,20,12,8,Rain
3,4,Thursday,20,8,14,Sunny
4,5,Friday,21,7,18,Fog

In [13]:
new_df.tail() #end ke 5 dikha deta h

   Unnamed: 0        Day  Max Temperature  Min Temperature  windspeed  Event
2           3  Wednwsday               20               12          8   Rain
3           4   Thursday               20                8         14  Sunny
4           5     Friday               21                7         18    Fog
5           6   Saturday               22               11         11    Fog
6           7     Sunday               23               12         14   Rain

In [14]:
new_df.head(3) #jitne likhe ho utne dikhaega starting ke

,Unnamed: 0,Day,Max Temperature,Min Temperature,windspeed,Event
0,1,Monday,18,10,10,Rain
1,2,Tuesday,19,13,13,Thunderstorm
2,3,Wednwsday,20,12,8,Rain

# Columns

In [15]:
print(new_df.columns)

Index(['Unnamed: 0', 'Day', 'Max Temperature', 'Min Temperature', 'windspeed',
       'Event'],
      dtype='object')

In [16]:
type(new_df['Humidity'])

KeyError: 'Humidity'

In [ ]:
new_df.describe()

# Day 2 of pandas -2 feb 23

# Operations on Dataframe

In [17]:
new_df.max()

Unnamed: 0                    7
Day                   Wednwsday
Max Temperature              23
Min Temperature              13
windspeed                    18
Event              Thunderstorm
dtype: object

In [20]:
new_df['windspeed'].max()

18

In [21]:
new_df['windspeed']>10

0    False
1     True
2    False
3     True
4     True
5     True
6     True
Name: windspeed, dtype: bool

In [23]:
new_df[new_df['windspeed']>15]

   Unnamed: 0     Day  Max Temperature  Min Temperature  windspeed Event
4           5  Friday               21                7         18   Fog

In [25]:
new_df.describe()

       Unnamed: 0  Max Temperature  Min Temperature  windspeed
count    7.000000         7.000000         7.000000   7.000000
mean     4.000000        20.428571        10.428571  12.571429
std      2.160247         1.718249         2.225395   3.258688
min      1.000000        18.000000         7.000000   8.000000
25%      2.500000        19.500000         9.000000  10.500000
50%      4.000000        20.000000        11.000000  13.000000
75%      5.500000        21.500000        12.000000  14.000000
max      7.000000        23.000000        13.000000  18.000000

# Task

In [27]:
###1) Func Describe(count,mean,min,max)

In [30]:
def Describe(df):
    return df.describe()

In [31]:
Describe(new_df)

       Unnamed: 0  Max Temperature  Min Temperature  windspeed
count    7.000000         7.000000         7.000000   7.000000
mean     4.000000        20.428571        10.428571  12.571429
std      2.160247         1.718249         2.225395   3.258688
min      1.000000        18.000000         7.000000   8.000000
25%      2.500000        19.500000         9.000000  10.500000
50%      4.000000        20.000000        11.000000  13.000000
75%      5.500000        21.500000        12.000000  14.000000
max      7.000000        23.000000        13.000000  18.000000

In [32]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       7 non-null      int64
 1   Day              7 non-null      object
 2   Max Temperature  7 non-null      int64
 3   Min Temperature  7 non-null      int64
 4   windspeed        7 non-null      int64
 5   Event            7 non-null      object
dtypes: int64(4), object(2)
memory usage: 464.0+ bytes

In [35]:
new_df.corr() #how much are these coordinated with each other or dependency of one variable on another variable

                 Unnamed: 0  Max Temperature  Min Temperature  windspeed
Unnamed: 0         1.000000         0.987829        -0.104006   0.426162
Max Temperature    0.987829         1.000000         0.031133   0.335930
Min Temperature   -0.104006         0.031133         1.000000  -0.590981
windspeed          0.426162         0.335930        -0.590981   1.000000

In [36]:
type(new_df['windspeed'])

pandas.core.series.Series

In [37]:
import numpy as np

In [38]:
new_df['windspeed'].to_numpy()

array([10, 13,  8, 14, 18, 11, 14], dtype=int64)